{% extends 'base.html.twig' %}

{% block title %} {{ acc }} {% endblock %}

{% block body %}
    <div class="container">
        <h1> {{ title }}  </h1>

        <p>Welcome to the unofficial Konami Website for the Yu-Gi-Oh! Trading Card Game. You can register and manage cards. Create your own Deck and post it for public viewing !<br />
            Forum is coming soon...

        </p>
    </div>
    {% include ('inc/footer.html.twig') %}
{% endblock %}
