{% extends 'base.html.twig' %}

{% block title %}Card's description{% endblock %}

{% block body %}
    <div class="container">
        <h1>Card's description</h1>
        <h1>{{ card.name }}</h1>
    </div>
{% endblock %}
