{% extends 'base.html.twig' %}

{% block title %}Card's description{% endblock %}

{% block body %}
    <div class="container">
        <h1>Card's description</h1>
        <h1>{{ card.name }}</h1>
    </div>

    <div class = "container">
        <form action="{{ path('addCard', {'id': card.id}) }}" method="POST">
            <h3>Select your deck</h3>
            <div class = "form-group">
                <select class="form-control" name="choosenDeck">
                    {% for d in decks %}
                        <option value="{{ d.id }}"> {{ d.deckName }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-success">Add this card to this deck</button>
        </form>
    </div>
{% endblock %}
