{% extends 'base.html.twig' %}

{% block title %}Card's description{% endblock %}

{% block body %}
    <div class="container">
        <h1>Card's description</h1>
        <h1>{{ card.name }}</h1>
        <input type="button" value="Add this card to my deck" onclick="window.location='{{ path('addCard', {'id': card.id}) }}'">
    </div>
{% endblock %}
