<br>
<br>
<footer class="page-footer font-small blue list-group-item">
    <div class="row">
        <div class="text-right col-md-6 mx-auto">
            <a href="https://www.facebook.com/Yugioh/" target="_blank"><img src="/images/facebook.png" height="35" width="70"></a>
        </div>
        <div class="text-left col-md-6 mx-auto">
            <a href="https://twitter.com/yugioh_tcg" target="_blank"><img src="/images/twitter.png" height="35" width="65"></a>
        </div>
    </div>
    <div class="container footer-copyright text-center py-3">Inspiration from:
        <a href="https://www.db.yugioh-card.com/yugiohdb/" target="_blank"> Yu-Gi-Oh</a>
    </div>
</footer>