<!-- Footer -->
<br>
<br>
<footer class="page-footer font-small blue list-group-item">
    <div class="text-center">
        <a href="https://www.facebook.com/Yugioh/" target="_blank"><img src="/images/facebook.png" height="40" width="70"></a>
    </div>
    <div class="container footer-copyright text-center py-3">Inspiration from:
        <a href="https://www.db.yugioh-card.com/yugiohdb/" target="_blank"> Yu-Gi-Oh</a>
    </div>

</footer>
<!-- Footer -->